<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body th:fragment="static">
<nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
    <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="index">
        <div class="sidebar-brand-icon rotate-n-15"><i class="fab fa-jsfiddle"></i></div>
        <div class="sidebar-brand-text mx-3"><span>Database </span></div>
    </a>
        <hr class="sidebar-divider my-0">
        <ul class="navbar-nav text-light" id="accordionSidebar">
            <li class="nav-item"><a class="nav-link active" th:href="@{/#}"><i class="fas fa-tachometer-alt"></i><span>HomePage</span></a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/profile}"><i class="fas fa-user"></i><span>Profile</span></a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/login}"><i class="far fa-user-circle"></i><span>Login</span></a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/info}"><i class="fas fa-user-circle"></i><span>BorrowInfo</span></a></li>
        </ul>
        <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
    </div>
</nav>

</body>
